name: check terraform docs
on: pull_request
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: check if terraform docs inside README.md files are updated
        uses: terraform-docs/gh-actions@v1.0.0
        with:
          fail-on-diff: true
          working-dir: terraform/civo,terraform/cloudflare,terraform/terraform_cloud
